.hero-section {
  background: var(--tr-theme-body-bg);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 322px;
  height: 308px;
  border-radius: 50%;
  background: linear-gradient(260deg, var(--tr-theme-primary) 0%, rgba(115, 65, 210, 0) 100%);
  filter: blur(150px);
  margin-right: -5%;
  margin-top: -5%;
  z-index: -1;
}

.hero-section.style-3::before {
  background: linear-gradient(260deg, var(--tr-theme-primary) 0%, var(--tr-theme-primary) 100%);
  margin-right: -2%;
  margin-top: -5%;
}