@import url("https://api.fontshare.com/v2/css?f[]=bonny@100,300,400,500,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tr-btn {
    @apply rounded-full text-sm px-6 py-3 text-center border text-[#221E1E] dark:text-[#EEF2FF] border-[#221E1E] dark:border-[#EEF2FF];
  }
}

/* Default light theme */
:root {
  --tr-theme-body-bg: #EEF2FF;
  --tr-theme-body-text: #221E1E;
  --tr-theme-primary: #F59C5C;

  --tr-mail-btn-clr: #377E86;
  --tr-mail-btn-hover: #221E1E;
  --tr-accordion-bg: #659477;

  --tr-nav-bg: hsl(0, 0%, 100%, 0.5);
  --tr-nav-text: #050709;
  --tr-nav-text-hover: #FFFFFF;
  --tr-nav-mobile-bg: hsl(0, 2%, 80%);
  --tr-nav-mobile-text: #050709;
  --tr-nav-hamburger: #292424;
}

/* Dark theme */
.dark {
  --tr-theme-body-bg: #221E1E;
  --tr-theme-body-text: #EEF2FF;
  --tr-theme-primary: #F59C5C;

  --tr-mail-btn-clr: #F7B687;
  --tr-mail-btn-hover: #FFFFFF;
  --tr-accordion-bg: #2D2726;

  --tr-nav-bg: hsl(210, 29%, 3%, 0.5);
  --tr-nav-text: #FFFFFF;
  --tr-nav-text-hover: #05080A;
  --tr-nav-mobile-bg: hsl(10, 7%, 20%);
  --tr-nav-mobile-text: #FFFFFF;
  --tr-nav-hamburger: #CBC9C9;
}

/* Define font weight utility classes */
.font-bonny-thin {
  font-family: "Bonny", serif;
  font-weight: 100;
}

.font-bonny-light {
  font-family: "Bonny", serif;
  font-weight: 300;
}

.font-bonny-regular {
  font-family: "Bonny", serif;
  font-weight: 400;
}

.font-bonny-medium {
  font-family: "Bonny", serif;
  font-weight: 500;
}

.font-bonny-bold {
  font-family: "Bonny", serif;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #8750F7 #C9BFDD;
}

body {
  background: var(--tr-theme-body-bg);
  color: var(--tr-theme-body-text);
  transition: background-color 0.3s, color 0.3s;
}

.mail-btn {
  color: var(--tr-mail-btn-clr);
  border-color: var(--tr-mail-btn-clr);
  background: transparent;
  transition: all 0.2s ease-in-out;
}

.mail-btn:hover {
  transform: scaleX(1.1);
  -webkit-text-fill-color: var(--tr-mail-btn-hover);
  border-color: var(--tr-mail-btn-hover);
}

.bg-accordion {
  background: var(--tr-accordion-bg);
}

.tr-name {
  font-weight: 700;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotating-icon {
  animation: rotate 2s linear infinite;
}

/* Optional: Pause animation on hover */
.setting-btn:hover .rotating-icon {
  animation-play-state: paused;
}